@model List<UserDto>

@{
    ViewBag.Title = "List";
}

<div>
    @if (Model != null)
    {
        var model = Model.ToList();
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>@Html.DisplayName("Id")</th>
                        <th>@Html.DisplayName("First Name")</th>
                        <th>@Html.DisplayName("Last Name")</th>
                        <th>@Html.DisplayName("Agency Code")</th>
                        <th>@Html.DisplayName("Line")</th>
                        <th>@Html.DisplayName("Province")</th>
                        <th>@Html.DisplayName("Status")</th>
                        <th style="text-align:right">@Html.DisplayName("Action")</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.AgencyCode</td>
                            <td>@item.Line</td>
                            <td>@item.Province</td>
                            <td>
                                @if (item.IsActive)
                                    @Html.DisplayName("فعال")
                                else
                                {
                                    @Html.DisplayName("غیر فعال")
                                }
                            </td>
                            @*<td>
                    <label class="switch">
                    @Html.CheckBoxFor(model => item.IsDeleted ,new { @class = "my-class", onclick = "myFunction()", type = "checkbox", @checked = item.IsDeleted  , @value = item.IsDeleted })
                    <label>@item.IsDeleted</label>
                    <span class="slider round"></span>
                    </label>
                    </td>
                    <td>

                    <label class="switch">
                    <input type="checkbox" checked="@item.IsActive" name="isactive" />
                    <span class="slider round"></span>
                    </label>
                    </td>*@
                            <td>
                                @using (Html.BeginForm("Delete", "Account", new { @class = "inline-block", id = item.Id }, FormMethod.Post))
                                {
                                    string confirm = "آیا برای حذف ضمیمه " + item.LastName + " مطمئن هستید؟";
                                    <input type="submit" class="btn btn-danger btn-xs" value="حذف" onclick="return confirm('@confirm');" />
                                }
                            </td>

                            <td>
                                @using (Html.BeginForm("Active", "Account", new { id = @item.Id }, FormMethod.Post))
                                {
                                    string confirm = "آیا برای تغییر وضعیت " + item.LastName + " مطمئن هستید؟";
                                    <input type="submit" class="btn btn-danger btn-xs" value="تغییر وضعیت" onclick="return confirm('@confirm');" />
                                }


                                @*@Html.ActionLink("وضعیت", $"Active", new { Id = item.Id })*


                        @*  @using (Html.BeginForm())
                        {
                        @Html.CheckBox("checkboxName", item.IsActive)
                        @Html.ActionLink("Active", "Account", new { id = item.Id }, null)
                        }*@

                                @*   <input type="hidden" id="checkboxValue" name="checkboxValue" value="false" />
                        <input type="checkbox" id="checkboxToggle" name="checkboxToggle" onclick="document.getElementById('checkboxValue').value=this.checked;" />
                        <a href="@Url.Action("Active", "Account", new { checkboxParam = item.Id })">Link Text</a>*@

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
